body {
  height: 1000vh;
}

.header-container {
  min-height: 150vh; /* make this 150vh when solving homework */
  background-color: wheat;
}

.header {
  display: none;
  position: sticky;
  top: 0;
  justify-content: center;
  padding: 8px 0;
  background-color: darkblue;
  gap: 24px;
}

.header-button {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 40px;
  height: 40px;
  background-color: darkblue;
  color: whitesmoke;
  padding: 0 16px;
  cursor: pointer;
}
.header-button:hover {
  background-color: blue;
}

.bottom-nav {
  display: flex;
  position: fixed;
  bottom: 0;
  width: 100dvw;
  background-color: whitesmoke;
  gap: 24px;
  justify-content: center;
}

.bottom-nav-button {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 40px;
  height: 40px;
  background-color: whitesmoke;
  color: black;
  padding: 0 16px;
}

@media (min-width: 981px) {
  .header {
    display: flex;
  }
  .bottom-nav {
    display: none;
  }
}
